.displayNone {
  display: none;
}

.display {
  display: block;
}

.navbar {
  justify-content: center;
  background: cyan !important;
}

.card-deck {
  display: inline-flex;
  width: 300px;
  margin: auto;
  /* text-align: center; */
}
