.displayNone {
  display: none;
}

.display {
  display: block;
}

.navbar {
  justify-content: center;
  z-index: 10;
  background: #53cae0 !important;
  margin-bottom: 2em;
  text-shadow: 1px 1px red;
}

.h1 {
  font-size: 2em;
}

body {
  height: 100%;
  font-size: 1.1em;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/%E1%83%AD%E1%83%90%E1%83%A3%E1%83%AE%E1%83%94%E1%83%91%E1%83%98_2.jpg/1200px-%E1%83%AD%E1%83%90%E1%83%A3%E1%83%AE%E1%83%94%E1%83%91%E1%83%98_2.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1.1em;
  margin: 0;
}

.container {
  z-index: 100;
  color: black;
  font-weight: bolder;
  /* opacity: 1 !important; */
  text-align: center;
}

#park-details {
  margin-top: 10px;
}

#originalPage {
  /* text-align: center; */
  margin-top: 5em;
}

#adventure {
  background: linear-gradient(navy, white, red, blue);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#topicsBtn,
#activityBtn,
.btn {
  background: #53cae0;
  color: black;
  text-shadow: 1px 1px #53cae0;
}

#topicsBtn:hover,
#activityBtn:hover,
.btn:hover {
  background: navy;
  text-shadow: 1px 1px #53cae0;
  color: white;
}

.hours {
  text-align: left;
}

.operating-hours {
  text-decoration: underline;
  text-align: left;
  margin-left: 2em;
}

form {
  color: white !important;
  font-size: 1em;
}

#park-detail-img {
  position: relative;
  bottom: 13em;
  left: 9em;
}

.selection-btn {
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-bottom: 0.4em;
}
